.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 40vh;
}

.card{
    cursor: pointer;        
}

.card:hover{
    background-color: yellow
}
