@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}
.nexus {
  color: #00adbe;
}

.center {
  text-align: center;
}

body {
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #221F26;
  margin: auto;
}

.logo {
  height: 3em;
  display: flex;
}

.wallet-button {
  padding: 1em;
  color: white;
  background-color: #00000068;
  border-radius: 25px;
  width: 100%;
  position: relative;
  border-color: transparent;
  font-size: 1.2em;
}

.wallet-button:hover {
  background: linear-gradient(75deg, #2b284a00, #ff9500d7, #ff9500d7, #ff950069, #2b284a00);
  background-size: 500% 500%;
  animation: gradient 2s ease infinite;
  cursor: pointer;
  
}

.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5em;
	top: 0;
  background: #383F51;
  z-index: 10;
  
}

.subnav {
	position: sticky;
	bottom: 0;
	top: 80px; 
  background: linear-gradient(75deg, #00adbe, #ff9500d7);
  background-size: 100% 200%;
  animation: gradient 2s ease infinite;
	border-bottom: 1px solid #222;
  color: #fff;
  z-index: 9;
}

.subnav_container {
  align-items: baseline;
  display: flex;
  margin: 0 60px;
  padding: 15px 0;
}

.subnav_title {
  font-size: 3em;
}

.subnav_list {
  margin: 0 15px;
}

.subnav_item {
  display: inline-block;
	margin: 0 8px;
	padding: 5px;
}

.nav_item {
  display: inline-block;
	margin: 0px 30px;
}

.nav_list {
  margin: 0 15px;
}

.hero {
	display: grid;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  margin-top: -7.5vh;
	background: #383F51;
}

h1 {
  font-size: 2em;
  text-align: left;
  color: #fff;
}


.container {
  align-items: baseline;
  display: flex;
  margin: 0 60px;
  padding: 15px 0;
}

title {
  font-size: 1.25em;
}

.list {
  margin: 0 15px;
}

.item {
  display: inline-block;
  margin: 0 8px;
  padding: 5px;
}
.section {
	max-width: 900px;
	margin: 60px auto;
	padding: 90px 30px;
	background-color: #FFCDD2;
	text-align: center;
  z-index: 8;
}
h2 {
  font-size: 3em;
  margin-bottom: 15px;
}
p {
  line-height: 1.625em;
  margin: 0 auto;
  max-width: 480px;
}

footer {
	text-align: center;
}

@media only screen and (min-width: 650px) {
}